*.a
*.o
.*.swp
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
bin/
build/
src/mhysa
config.h.in
configure
config.h
config.log
config.status
depcomp
install-sh
missing
compile
doc/html/
doc/latex/
doc/bib*
doc/citelist*
doc/README
.deps
stamp-h1
