div.image img[src="chap1_1Ddomain.png"]{ 
      width:500px; 
}
div.image img[src="layout.png"]{ 
      width:750px; 
}
div.image img[src="mpi_ranks.png"]{ 
      width:500px; 
}
div.image img[src="nd_ranks.png"]{ 
      width:600px; 
}
